@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
     padding: 0px;
    margin: 0px; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{
  
    background-image: url(imag/WhatsApp.jpeg);
    background-repeat: repeat;
    background-size: contain;
    background-position-x: 0px;
    background-position-y: 180px;
   background-color: rgb(3 31 74);
   min-height: 1450px;
   
  }






    header{
  
      padding: 15px ; 
      background-color: black;  
      width: 100%;
      position: fixed;
      z-index: 200000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px; 
  
    }
  
  
  
    
  
  
  .fa-bars{
    visibility: hidden; 
    display: none ;
    position: absolute;
    left: -100px;
  }
  
  
  .fa-times{
    visibility: hidden; 
    display: none ;
    position: absolute;
    left: -100px;
    
  }
  
  
  .nav a {
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: #ccc;
    display: inline;
  }
  .nav a:hover {
    color: #fff;
  }

 
 
 .poster{
   padding: 100px 200px;
 position: relative;
 right: 160px;
 }
 
 
 

    .bageopend{
      background-image:url(imag/e469197f0b71bc8f1176c8bca0394836.jpg);
      color: rgb(216 186 152);
      padding: 10px;
      margin: 35px;
      text-align: center;
      font-size: 50px;
      font-family: 'Courier New', Courier, monospace;
    }

    section{
     display: inline-table;

  }

  .lineone{
    position: relative;
    bottom: -10px ;
    display: inline-table;
    bottom: -180px;
  }
  


  

 

  .linetow{
    position: relative;
    bottom: -500px;
    width: 22px;
    display: inline;
  }

  .linethree{
    position: relative;
    bottom: -900px;
    padding: 10px;
    margin: 15px;
  }

  .linefour{
    position: relative;
    bottom: -1150px;
    padding: 20px;
    margin: 15px;
    
  }


  .b{
    padding: 27px;
    margin: 15px;
    position: relative;
    bottom: 31px;
  }

  .e{
    margin: 57px;
    position: relative;
    bottom: 31px ;
  }

  .h{
    margin: 42px;
    position: relative;
    bottom: 39px;
  }
 

  .k{
    margin: 25px;
    position: relative;
    bottom: 35px ;
}



.disingerfooter{
  background-color: black;
  position: relative;
  bottom: -1300px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  
  }
  
   .disingername{
    color: antiquewhite;
    font-size: 1.5em;
  }
  
  .mo{
    font-size: 1.2em;
    color: aqua;
  }
  
   .disinersocial{
      font-size: 1.6em;
  }
  .disinersocial a{
    color: aliceblue;
  }
  
  
  
  
  
  .webfooter{
  background-color: black;
  position: relative;
  bottom: -1300px;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  
  }
  
   .webname{
    color: rgb(16, 156, 190);
    font-size: 1.3em;
  }
  
  
  
   .hazemsocial{
      font-size: 1.2em; 
  }
  .hazemsocial a{
    color: aliceblue;
  }




  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
 

/* .a .heart{
 position: absolute;
 top: 50%;
 left: 150px;
 transform: translate(-50%, -50%) scale(0);
 color: white;
 font-size: 100px;
 transition: 0.3s;
}

.a input{
  position: absolute;
  top: 0;
  left: -12px;
  width: 30%;
  height:70%;
  z-index: 999999;
  opacity: 0;
  cursor: pointer;
}


.heart :hover  {
  transform: translate(-50%, -50%) scale(1);
  opacity: 10;
}


.a input:checked  .heart{
  color: #e74c3c;

} */


button {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/df/Facebook_logo_thumbs_up_like_transparent_SVG.svg);
    background-color: #e7e9f1;
    color: #385596;
    background-size: 50px;
    background-position: 20px 25%;
    background-repeat: no-repeat;
    width: 200px;
    height: 59px;
    font-size: 20px;
    border: 1px solid #a8b4c9;
    text-align: center;
    text-indent: 32px;
}



@media (max-width:1024px) {

  .nav a{
    padding: 9px 15px;
  }


.poster img{
  width: 900px;
  position: absolute;
  bottom: -50px;
  display: flex;justify-content: center;
}

div{
  text-align: center;
} 

/*  line one  */
.b{
 position: relative;
 bottom: -610px;
 right: 165px;
}

.c{
position: relative;
bottom: 520px;
left: 230px;
}

/* line tow */

.d{
  position: relative;
  left: 70px;
  bottom: -100px;
}

.e{
  position: relative;
  bottom: -700px;
  left: -150px;
 
}


.f{
  position: relative;
  bottom: 400px;
  left: 560px;
}

/* line three*/

.j{
 position: relative; 
 bottom: -10px;
}


.h{
 position: relative;
 bottom: -560px;
 left: -170px;
}



.i{
  position: relative;
  bottom: 540px;
  left: 250px;
}

/* line four */


.g{
  position: relative;
 bottom: -10px;
}


.k{
  position: relative;
  bottom: -600px;
  left: -170px;
}


.l{
  position: relative;
  bottom: 520px;
  left: 240px;
}

/* ********* */

.disingerfooter{
  position: relative;
  bottom: -1269px;
  }
  
  .disinersocial{
    font-size: 1.3em;
    padding: 2px 4px;
}
  


  
  .webfooter{
  position: relative;
  bottom: -1270px;
  }

  .hazemsocial{
    font-size: 1.2em;
}

}



.disingerfooter{
  padding: 1.1em;
  display: flex;
  justify-content: space-between;

  }
  
   .disingername{
    font-size: 1.6em;
  }
  
  .mo{
    font-size: 1.3em;
  }
  
   .disinersocial{
      font-size: 2em;
      padding: 2px 6px;
  }

.webfooter{
  width: 100%;
  padding: 0.9em;
  display: flex;
  justify-content: space-between;
 font-size: 1.5em;

  }
  
   .webname{
    color: rgb(16, 156, 190);
    
  }




@media (max-width:1000px) {

  header{  
    padding: 15px ; 
    background-color: black;  
    width: 100%;
    position: fixed;
    z-index: 200000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px; 
    
  }

.logo img{
  position: relative;
  left: 600px;
  width: 330px;
  padding: 1px;
  margin: 1px;
  bottom: -4px;
}


.fa-bars{
position: absolute;
left: 70px;
visibility: visible;
bottom: -9px;
padding: 40px;
margin-top: 20px;
font-size: 50px;
}


.fa-times{
 visibility: visible;
  position: absolute;
  left: 100px;
}

  .nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(49, 47, 47);
    opacity: .9;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.7s;
    
  }


  .nav a {
    display: block;
    padding: 25px 60px;
    font-size: 55px;
    text-decoration: none;
    color: #ccc;
    border-bottom: 1px solid gainsboro;
  padding-bottom: 80px;
  }
  .nav a:hover {
    color: #fff;
    transition: 0.4s;
  }


  .nav .close {
    position: absolute;
    top: 0;
    right: 90px;
    margin-left:10px;
    font-size: 60px;
  }


  .slide a {
    color: rgb(182, 175, 175);
    font-size: 40px;
  }


  #content {
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
  }
  
}
